@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
  /* 1rem === 10px, but remain responsive to user font size settings */
  font-size: 62.5%;

  --navbar-width: 23.6rem;
}

body {
  font-family: "Montserrat", sans-serif;
  /* default font size is 16px */
  font-size: 1.6rem;
  background-color: #efefef;
  margin: 0;
}
